body {
  background-color: black;
  color: white;
  text-align: center;
}

section,
button {
  margin: 24px;
}

.complete {
  text-decoration: line-through;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0 12px;
}
